<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShopifyUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Db" connectionString="Data Source=.\AppDB.db;Version=3;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ShopifyUpdater.Properties.Settings>
            <setting name="shopify_store" serializeAs="String">
                <value>crutchfield-theme.myshopify.com</value>
            </setting>
            <setting name="shopify_key" serializeAs="String">
                <value>4ded81ea3386a7aa72cb1c091fc72b9f</value>
            </setting>
            <setting name="shopify_password" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="shopify_secret" serializeAs="String">
                <value />
            </setting>
        </ShopifyUpdater.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>